<h1>This is <%=@user.first_name%>'s profile</h1>

<ul>
  <li>Name : <%=@user.last_name%></li>
  <li>Description : <%=@user.description%></li>
  <li>Email adress : <%=@user.email%></li>
  <li>Age : <%=@user.age%></li>
  <li>City : <%=@user.city.name%></li>
</ul>

