<h1>Edit Gossip <%= @gossip.id %></h1>

<%= form_for @gossip, url: gossip_path(@gossip), method: "patch" do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <%= f.submit "Edit Gossip" %>
<% end %>
